@model System.Collections.Generic.IEnumerable<ProjectManagementSystem.Models.Tasks>


<style type="text/css">
    .medium-priority {
        background-color: #fad850;
    }

    .high-priority {
        background-color: #fa5050;
    }

    .low-priority {
        background-color: #50fa7d;
    }
</style>

<div>
    <div class="row w-100 m-0">
        <h1 class="display-6 text-center">Список задач</h1>
        <div class="row mx-auto">
            <div class="d-flex flex-column justify-content-start">
                <div class="row">
                    <div class="col-sm-4">
                        @foreach (var item in Model.Where(x => x.Priorety == 1))
                        {
                            var descrLength = @item.Description.Length;
                            string descr = string.Empty;
                            if (descrLength > 150)
                            {
                                descr = @item.Description.Substring(0, 150);
                                descr += "...";
                            }
                            else
                            {
                                descr = item.Description;
                            }

                            <div class="card high-priority">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@descr</p>

                                    <div style="display: flex; justify-content: left;">
                                        <form method="post" action="@Url.Action("TaskDelete", "ProjectTasks", new { taskId = item.Id })">
                                            <button type="submit" class="btn btn-dark">Выполнено</button>
                                        </form>
                                        <form style="margin-left: 5px;" method="get" asp-controller="ProjectTasks" asp-action="TaskDetail">
                                            <input type="hidden" name="taskId" value="@item.Id">
                                            <button class="btn btn-outline-dark" type="submit">Подробнее</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        }
                    </div>


                    <div class="col-sm-4">
                        @foreach (var item in Model.Where(x => x.Priorety == 2))
                        {
                            var descrLength = @item.Description.Length;
                            string descr = string.Empty;
                            if (descrLength > 150)
                            {
                                descr = @item.Description.Substring(0, 150);
                                descr += "...";
                            }
                            else
                            {
                                descr = item.Description;
                            }

                            <div class="card medium-priority">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@descr</p>

                                    <div style="display: flex; justify-content: left;">
                                        <form method="post" action="@Url.Action("TaskDelete", "ProjectTasks", new { taskId = item.Id })">
                                            <button type="submit" class="btn btn-dark">Выполнено</button>
                                        </form>
                                        <form style="margin-left: 5px;" method="get" asp-controller="ProjectTasks" asp-action="TaskDetail">
                                            <input type="hidden" name="taskId" value="@item.Id">
                                            <button class="btn btn-outline-dark" type="submit">Подробнее</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>


                    <div class="col-sm-4">
                        @foreach (var item in Model.Where(x => x.Priorety == 3))
                        {
                            var descrLength = @item.Description.Length;
                            string descr = string.Empty;
                            if (descrLength > 150)
                            {
                                descr = @item.Description.Substring(0, 150);
                                descr += "...";
                            }
                            else
                            {
                                descr = item.Description;
                            }

                            <div class="card low-priority">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@descr</p>

                                    <div style="display: flex; justify-content: left;">
                                        <form method="post" action="@Url.Action("TaskDelete", "ProjectTasks", new { taskId = item.Id })">
                                            <button type="submit" class="btn btn-dark">Выполнено</button>
                                        </form>
                                        <form style="margin-left: 5px;" method="get" asp-controller="ProjectTasks" asp-action="TaskDetail">
                                            <input type="hidden" name="taskId" value="@item.Id">
                                            <button class="btn btn-outline-dark" type="submit">Подробнее</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="panel panel-default fixed-bottom bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center align-items-center" style="margin-top: 3px; margin-bottom: 3px;">

                            <div style="margin-right: 25px;">
                                <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #fa5050;"></span>
                                <span> - Критически важно</span>
                            </div>
                            <div style="margin-right: 25px;">
                                <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #fad850;"></span>
                                <span> - Средний уровень важности</span>
                            </div>
                            <div style="margin-right: 25px;">
                                <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #50fa7d;"></span>
                                <span> - Низкий уровень важности</span>
                            </div>

                            @{
                                var role = User.Claims.FirstOrDefault(x => x.Value == "Пользователь");
                                if (role == null)
                                {
                                    <a asp-controller="ProjectTasks" asp-action="TaskCreate" class="btn btn-dark">Создать задачу</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
