@model System.Collections.Generic.IEnumerable<ProjectManagementSystem.Models.Project>


<div>
    <div class="row w-100 m-0">
        <div class="table-responsive">
            <h1 class="display-6 text-center">Список проектов</h1>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">
                            <a>Название</a>
                        </th>
                        <th scope="col">
                            <a>Владелец</a>
                        </th>
                        <th scope="col">
                            <a>Репозиторий GitHub</a>
                        </th>
                        <th scope="col">
                            <a>Статус КИИ</a>
                        </th>
                        <th class="col-1" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.ProjectOwnerName</td>
                            <td><a href="@item.GitUrl">@item.GitUrl</a></td>
                            @if (item.Status == 0)
                            {
                                <td>Нет аттестации</td>
                            }
                            @if (item.Status == 1)
                            {
                                <td>Ожидание</td>
                            }
                            @if (item.Status == 2)
                            {
                                <td>Отправлено</td>
                            }
                            @if (item.Status == 3)
                            {
                                <td>В обработке</td>
                            }
                            @if (item.Status == 4)
                            {
                                <td>Пройдено</td>
                            }
                            <td>
                                <form method="get" asp-controller="Project" asp-action="ProjectDetail" asp-route-projectId="@item.Id">
                                    <input type="hidden" name="projectId" value="@item.Id">
                                    <button class="btn btn-outline-dark" type="submit">Подробнее</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="panel panel-default fixed-bottom bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center align-items-center" style="margin-top: 3px; margin-bottom: 3px;">
                            @{
                                var role = User.Claims.FirstOrDefault(x => x.Value == "Пользователь");
                                if (role == null)
                                {
                                    <a asp-controller="Project" asp-action="ProjectCreate" class="btn btn-dark">Создать проект</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
